EXPO_PUBLIC_R2_UPLOAD_ENDPOINT=https://your-worker.example.com/upload
EXPO_PUBLIC_API_URL=http://192.168.1.23:8080
EXPO_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your_supabase_publishable_key
