:root {
  --font-display:
    'Courier New', 'Lucida Console', Monaco, ui-monospace, monospace, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --font-rounded: 'SF Pro Rounded', 'Hiragino Maru Gothic ProN', Meiryo, 'MS PGothic', sans-serif;
  --font-serif: Georgia, 'Times New Roman', serif;
}

html,
body {
  font-family: var(--font-display);
}

* {
  font-family: var(--font-display) !important;
}
